<%= form_for(@buzzword) do |f| %>
  <% if @buzzword.errors.any? %>
    <div id="error_explanation", class="alert alert-error">
      <p><%= pluralize(@buzzword.errors.count, "error") %> prohibited this buzzword from being saved:</p>

      <ul>
      <% @buzzword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phrase %><br />
    <%= f.text_field :phrase %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
