<div class="container">
  <div id="logo", class="span12">
    <%= image_tag "bblogo.png", id: "logo_image" %>
  </div>
</div>
<div class="container">
   <div class="navbar">
    <div class="navbar-inner">
       <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Maintain Buzzwords", href="#" %></li>
        <li><%= link_to "Tech Info", tech_path %></li>
        <li><%= link_to "Help", help_path %></li></li>
       </ul>
    </div>
   </div>
</div>

